//**********************************************
// PLEASE DON'T ADD ANYTHING APART FROM IMPORTS
// This file just concatenates all modules scss
// files for the purposes of populating the
// main.scss stylesheet. If you create a new
// module scss file, add a link in here.
//**********************************************/

@import '_nav.scss';

.header-logo {
  height: 100px;
  width:auto;
  margin: 30px auto;
}

.top-bar {
  background-color:$primary-color;
  color:$white;

  .social {
    text-align:right;
    font-size:2rem;
    li {
      display:inline-block;
    }

  }
}
