//**********************************************
// PLEASE DON'T ADD ANYTHING APART FROM IMPORTS
// This file just concatenates all modules scss
// files for the purposes of populating the
// main.scss stylesheet. If you create a new
// module scss file, add a link in here.
//**********************************************/

@import '_nav.scss';

.cta {
  position:relative;
  height:0;
  width:100%;
  padding-bottom:48.5%;
  overflow:hidden;
  background:url('https://cdn.shopify.com/s/files/1/1063/8274/t/23/assets/masonry-feature-4-image.jpg?6114796208706710856');
  background-size:100%;
  background-position:center;
  &.square {
    padding-bottom:101%;
  }
  margin-bottom:10px;

  &:before {
    content:"";
    display:block;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    opacity:0;
    background:$primary-color;
  }
  .content {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color:$white;
    text-align:center;
    opacity:0;
  }

  &:hover {
      &:before { opacity: 0.75;}
    .content {opacity:1;}
  }
}

img{
&.left {
  float: left;
margin-right: 50px;
}
&.circle {
  border-radius: 50%;
}
}

.page-title {
  background-position: center;
  font-size:4rem;
  position:relative;
  margin-bottom: 50px;
    color: #fff;
        padding:50px;
  &:before {
    content: "";
    display:block;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background: linear-gradient(90deg, rgba(0,0,0,0.45) 0%, rgba(0,0,0,0) 25%);
  //  z-index:1000;
  }
  h2 {

    margin:0;
  }
}
