<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Emily K Williams - Knitwear Design</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" href="icon.png">

		@@if (task === 'build') {<link rel="stylesheet" type="text/css" href="styles/main.min.css" media="screen">}
		@@if (task !== 'build') {<link rel="stylesheet" type="text/css" href="styles/main.css" media="screen">}
	</head>
	<body>

		@@include("./includes/header.html")

		<main class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-xs-6"><div class="cta square"><div class="content">patterns</div></div></div>
				<div class="col-sm-3 col-xs-6"><div class="cta square"><div class="content">tutorials</div></div></div>
				<div class="col-sm-3 col-xs-6"><div class="cta square"><div class="content">blog</div></div></div>
				<div class=" col-sm-3 col-xs-6"><div class="cta square"><div class="content">collection</div></div></div>
			</div>
			</div>
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<h2 class="u-text-center">About Emily</h2>
					<img class="circle left" src="http://via.placeholder.com/200x200"/ alt="Emily K williams">
					<p>Pour-over salvia DIY neutra, leggings pug gentrify narwhal semiotics
						asymmetrical raclette iPhone. Pickled ramps hell of small batch four
						dollar toast, ethical whatever fam crucifix waistcoat 8-bit you
						probably haven't heard of them mumblecore stumptown kitsch.
						Humblebrag ramps single-origin coffee tacos meh flexitarian vegan
						intelligentsia master cleanse.
					</p>
					<p>our loko enamel pin adaptogen, selvage humblebrag wolf blue bottle
						migas bushwick glossier kinfolk. Ugh vegan microdosing, craft beer
						cornhole snackwave jianbing tumeric disrupt. Fixie DIY af
						fingerstache single-origin coffee hammock chillwave offal man braid
						 jean shorts. Vinyl 90's selvage synth post-ironic trust fund
						 gochujang vexillologist.
						</p>
				</div>
			</div>
		</main>

		@@include("./includes/footer.html")

		@@if (task === 'build') {<script src="scripts/main.min.js"></script>}
		@@if (task !== 'build') {<script src="scripts/main.js"></script>}
	</body>
</html>
